.swiper {
  height: 100vh;
  background-color: black;
  color: white;
}

.swiper-slide img {
  height: 40vh;
  margin-bottom: 2rem;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
